# Lives in /etc/udev/rules.d/
# Generic mouse and keyboard no suspend
ACTION=="add", SUBSYSTEM=="usb", ATTR{product}!="*Mouse", ATTR{product}!="*Keyboard", TEST=="power/control", ATTR{power/control}="auto"
